@page "/buffer"
@using RecordAppBlazor.Function


<PageTitle>调取缓存</PageTitle>

<h1>调取缓存</h1>

<p>此功能<b>极不稳定</b>. 依赖于录制软件的回放缓存功能, 有一定概率存在没成功缓存或调取时间过晚导致已释放等问题.</p>

<p style="color: @statusColor">当前缓存状态: @currentBufferStatusString</p>

<button class="button is-primary is-light is-rounded" @onclick="GetBuffer">调取</button>

<ErrorPromt ErrorMessage="@errorMessage"></ErrorPromt>
<Prompt Content="@promptContent"></Prompt>


@code {
    private bool currentBufferStatus => BufferManager.isBuffering;
    private string currentBufferStatusString => currentBufferStatus ? "正在运行中" : "已停止";
    private string errorMessage;
    private string statusColor => currentBufferStatus ? "red" : "green";
    private string promptContent;

    
    private void GetBuffer()
    {
        var msg = BufferManager.SaveBuffer();

        if (msg.StartsWith("请使用"))
        {
            promptContent = msg;
        }
        else
        {
            errorMessage = msg;
        }
    }
}