@page "/fetchdata"
@using RecordAppBlazor.Data
@using System.Net
@using System.Net.Http.Headers

@inject NavigationManager navi

<PageTitle>查询录制</PageTitle>

<h1>查询录制</h1>

<p>输入之前设置的密码, 来查询录制的视频下载链接</p>

<input type="text" name="code" class="input is-rounded" placeholder="输入用于查询的密码" @bind="codeInput"/><br><br>
<button class="button is-primary is-light is-rounded" @onclick="() => DownloadRecording(codeInput)">查询</button>

<br><br>
<article class="message is-danger" style="visibility: @errorMsgVisibility">
  <div class="message-header">
    <p>Error</p>
    <button class="delete" aria-label="delete"></button>
  </div>
    <div class="message-body">
        无法预计的录播程序失败
        @errorMessage
    </div>
</article>

@code {
    private Recording[]? Recordings;
    private string codeInput = "";
    private string errorMsgVisibility => string.IsNullOrWhiteSpace(errorMessage) ? "hidden" : "visible";
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        Recordings = RecordingService.GetAllRecordings();
    }
    
    private void DownloadRecording(string code)
    {
        try
        {
            var recording = RecordingService.GetRecording(code);
            navi.NavigateTo($"{PropertiesManager.Properties.FileServerRoot}{recording.Code}.mkv");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }        
    }


};