@page "/fetchdata"
@using RecordAppBlazor.Data
@using System.Net
@using System.Net.Http.Headers

@inject IJSRuntime JS

<PageTitle>查询录制</PageTitle>

<h1>查询录制</h1>

<p>输入之前设置的密码, 来查询录制的视频下载链接</p>

<input type="text" name="code" class="input-group-text" placeholder="输入用于查询的密码" @bind="codeInput"/><br>
<button class="btn btn-primary" @onclick="() => DownloadRecording(codeInput)">查询</button>


@if (Recordings == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>加密后的Code</th>
            <th>路径</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var recording in Recordings)
        {
            <tr>
                <td>@recording.Code</td>
                <td>@recording.Path</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Recording[]? Recordings;
    private string codeInput = "";
    private Lazy<IJSObjectReference> downloadModuleInstance = new();
    private Lazy<IJSObjectReference> downloadModule = new();

    protected override async Task OnInitializedAsync()
    {
        
        Recordings = RecordingService.GetAllRecordings();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            downloadModule = new(await JS.InvokeAsync<IJSObjectReference>("import", "./js/downloadFile.js"));
        }
    }
    
    private async Task DownloadRecording(string code)
    {
        var recording = RecordingService.GetRecording(code);

        var fileBytes = await File.ReadAllBytesAsync(recording.Path);

        try
        {
            downloadModuleInstance = new(await downloadModule.Value.InvokeAsync<IJSObjectReference>("downloadFile", $"{code}.mp4", fileBytes));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }


}