@page "/fetchdata"
@using RecordAppBlazor.Data
@using System.Net
@using System.Net.Http.Headers

@inject NavigationManager navi

<PageTitle>查询录制</PageTitle>

<h1>查询录制</h1>

<p>输入之前设置的密码, 来查询录制的视频下载链接</p>

<input type="text" name="code" class="input-group-text" placeholder="输入用于查询的密码" @bind="codeInput"/><br>
<button class="btn btn-primary" @onclick="() => DownloadRecording(codeInput)">查询</button>


@if (Recordings == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>加密后的Code</th>
            <th>路径</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var recording in Recordings)
        {
            <tr>
                <td>@recording.Code</td>
                <td>@recording.Path</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Recording[]? Recordings;
    private string codeInput = "";

    protected override async Task OnInitializedAsync()
    {
        Recordings = RecordingService.GetAllRecordings();
    }
    
    private void DownloadRecording(string code)
    {
        var recording = RecordingService.GetRecording(code);
        
        navi.NavigateTo($"{PropertiesManager.Properties.FileServerRoot}{recording.Code}.mkv");
    }


}