@page "/"
@using RecordAppBlazor.Data

<PageTitle>主页</PageTitle>

<h1>@Title</h1>
<h2>@SubTitle</h2>

<h2 style="visibility: @aboutMsgVisibility">关于</h2>

<div style="visibility: @aboutMsgVisibility">
    <p>录制系统: <a href="https://github.com/Kgym-Hina">Kgym-Hina@Github</a> <a href="https://space.bilibili.com/12472249">幸运的转转人偶@Bilibili</a></p>
</div>

<div>
    @aboutMsg
</div>

@if (showExperimental)
{
    <Prompt Content="本系统当前正处于测试阶段, 有一定不稳定因素."/>
}

@code
{
    private string aboutMsgVisibility = PropertiesManager.Properties.AboutMessageVisibility ? "visible" : "hidden";
    private MarkupString aboutMsg = PropertiesManager.Properties.CustomAboutMessage;
    private bool showExperimental = PropertiesManager.Properties.ShowExperimentalMessage;
    private string Title = PropertiesManager.Properties.SystemTitle;
    private string SubTitle = PropertiesManager.Properties.SystemSubtitle;
}
