<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="navbar-item px-3">
            <NavLink class="navbar-item" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 主页
            </NavLink>
        </div>
        <div class="navbar-item px-3">
            <NavLink class="navbar-item" href="add">
                <span class="oi oi-plus" aria-hidden="true"></span> 开始录制
            </NavLink>
        </div>
        <div class="navbar-item px-3">
            <NavLink class="navbar-item" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 查询录制
            </NavLink>
        </div>
        <div class="navbar-item px-3">
            <NavLink class="navbar-item" href="buffer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 调取缓存
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}